/* 
Author: Shem Rajoon
*/

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background:url('') no-repeat center center #000;	
  width:100%; 
  height:100%;
  min-height:100%; /* for mobile and tablets */
  background-size:cover;
  position:absolute;
	font-family: sans-serif;
	color: #fff;
}

a{
	color: #fff;
	text-decoration: none;
}

#top, #bottom{
	position:absolute;
  left: 0;
  margin: 50px;
}

#top{
    top: 0;
    font-size: 14px;
    z-index: 0;
    width: 100%;
}

.searchButton{
  background: url(../images/search.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  height: 25px;
  text-indent: 25px;
}


label.locationlabel{
	color: #777;
	font-size: 14px; 
}

.closeButton{
  float: right;
  padding-right: 50px;
}

.search{
	display: none;
	background-color: rgba(255, 255, 255, 0.95);
	width:100%; 
  height:100%;
  min-height:100%; /* for mobile and tablets */
  background-size:cover;
  padding-top: 70px;
  padding-left: 50px;
  z-index: 1000;
}
 
a.searchClose{
  color: #000;
  float: right;
  padding-right: 70px;
  background: url(../images/x-thin-md.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  text-indent: -99999px;
  font-size: 12px;
  height: 30px;
}

input{
  color: #444;
  font-size: 72px;
  display: block;
  background-color: transparent;
  border: none;
  padding-top: 20px;
}

input:focus{
  outline: none;

}

/* WebKit browsers */
input:focus::-webkit-input-placeholder { color:transparent; }
/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder { color:transparent; }
/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder { color:transparent; }
/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder { color:transparent; }


#bottom {
    bottom: 0;
    z-index: -999;
}

.condition{
	margin-bottom: 20px;
}

.highLows p{
	float: left;
	margin-right: 50px;
}

p.high, p.low, .condition{
	text-indent: 40px;
}

.condition{
	background: url(../images/snow.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  height: 25px;
}

p.high{
	background: url('../images/upArrow.svg') no-repeat;
}

p.low{
	background: url('../images/downArrow.svg') no-repeat;
}

.current p{
	font-size: 150px;
}
